@model ZeroDengue.Models.Complaint
@{
    ViewData["Title"] = "Home Page";
}

    <div>
        <div class="height-50"></div>
        <a asp-action="Complaints" class="btn btn-lg btn-info col-md-5">Denunciar</a>
        <div class="col-md-2"></div>
        <a asp-action="Complaints" class="btn btn-lg btn-warning col-md-5">Cadastrar</a>
        <div class="height-50">
            <a asp-action="Complaints" class="height-50"></a>
        </div>
    </div>
